@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Foldit:wght@300;400;500;600;700&display=swap");
body {
  background: #0d1b2a;
  margin: 0;
  color: #e0e1dd;
}

.flex {
  display: flex;
  align-items: center;
}
.tox-statusbar__branding {
  display: none;
}
